.CharacterBrowserPane{
	position:absolute;
	top:0;
	bottom:0;
	background:lightgray;

	.CharacterTiles {
		display:block;
		margin:0;
		padding:0;
		position:absolute;
		left:0;
		right:0;
		top:40px;
		bottom:0px;
		overflow:auto;

		.CharacterTile{
			position:relative;
			margin:1%;
			width:48%;
			min-width:120px;
			color:black;
			display:inline-block;
			height: 40px;
			background:white;

			.AddToEncounter{
				position:absolute;
				top:0;
				right:0;
				height:50%;
				width:20px;
				background:lightblue;
				text-decoration: none;
				text-align:center;
				color:black;

				&.Disabled{
					background:gray;
				}
			}

			.EditCharacter{
				position:absolute;
				bottom:0;
				right:0;
				height:50%;
				color:black;
				background:white;
				padding-right:2px;
			}
		}
	}

	.NewCharacterButton{
		display:block;
		position:absolute;
		width:60px;
		height:60px;
		background:black;
		bottom:30px;
		right:30px;
		border-radius:30px;
		margin:0;
		padding:0;

		&:after{
			color:white;
			text-decoration:none;
			position:absolute;
			content:'+';
			font-size:44px;
			font-weight:bold;
			top:-1.5px;
			left:17.5px;
		}
	}
}
