.CharacterBrowserPane{
	position:absolute;
	top:0;
	bottom:0;
	background:lightgray;

	.CharacterTiles {
		display:block;
		margin:0;
		padding:0;
		position:absolute;
		left:0;
		right:0;
		top:40px;
		bottom:0px;
		overflow:auto;

		.CharacterTile{
			position:relative;
			margin:1%;
			width:48%;
			min-width:200px;
			color:black;
			display:inline-block;
			height: 40px;
			background:white;

			.AddToEncounter{
				position:absolute;
				top:0;
				right:0;
				height:50%;
				width:20px;
				background:lightblue;
				text-decoration: none;
				text-align:center;
			}
		}
	}
}
