.InitiativeList {
	display:block;
	margin:0;
	padding:0;
	background:lightgray;
	position:absolute;
	top:40px;
	bottom:0px;
	width:200px;
	overflow:auto;

	div{
		height:45px;
		position:relative;
		img{
			margin-left:10px;
			background:gray;
			border:solid 1px black;
			width:30px;
			height:30px;
			border-radius: 15px;
		}
		border-bottom: solid 1px gray;
	}

	div:first-child{
	}

	.CurrentCharacter{

	}

	.SelectedCharacter{
		background:white;
		border-right:none!important;
	}
}
