.Titlebar {
	display:block;
	margin:0;
	padding:0;
	background:#474747;
	height:80px;

	font-family: 'Lato', sans-serif;


	a {
		display:inline-block;
		margin-top:24px;
		margin-left:20px;
		margin-right:30px;
		color:white;
		text-decoration:none;

		font-weight:700;
		font-size: 1.2em;
		opacity: .87;
		position:relative;
		top:-1px;

		&:first-child{
			top:0px;
			font-weight:900;
			opacity: 1;
			font-size: 1.4em;
		}
	}

	.SaveIcon{
		color:white;
		position:absolute;
		top:30px;
		right:15px;
	}
}
